:root {
  --greyColor: rgba(0, 0, 0, 0.5);
  --borderRadius: 25px;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #fafafc;
  padding: 0px 15px;
}

.header {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__titles .header__title {
  font-size: 30px;
}

.header__titles .header__subtitle {
  font-size: 14px;
  margin-top: 10px;
  color: var(--greyColor);
}

.header svg {
  fill: var(--greyColor);
  width: 20px;
}

.header__icon:first-child {
  margin-right: 15px;
}

.main {
  margin: 50px 0px;
  margin-bottom: 100px;
}

.recipe {
  height: 40vh;
  border-radius: var(--borderRadius);
  background-image: url("https://i.pinimg.com/564x/9f/0b/54/9f0b54aaa745894ab360d849022ac70b.jpg");
  /* background-size: cover; */
  background-size: 100%;
  background-position: center center;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.recipe .recipe__heart {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe__heart svg {
  fill: #e74c3c;
  width: 20px;
}

.recipe .recipe__info {
  background-color: white;
  border-radius: var(--borderRadius);
  width: 90%;
  padding: 10px 25px;
  box-shadow: 0 7px 20px rgba(50, 50, 93, 0.1), 0 3px 20px rgba(0, 0, 0, 0.08);
  position: relative;
  top: 50px;
}

.recipe__info .recipe__title {
  font-size: 22px;
  margin-bottom: 10px;
}

.recipe__info .recipe__meta {
  color: var(--greyColor);
  font-weight: 600;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--greyColor);
}

.recipe__info .recipe__social {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center center;
}

.recipe__social .recipe__social-item {
  display: flex;
  align-items: center;
}

.recipe__social-item svg {
  margin-left: 10px;
  fill: var(--greyColor);
}

.recommended .recommended__header {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.recommended .recommended__title {
  font-size: 20px;
}

.recommended .recommended__small {
  color: var(--greyColor);
}

.recommended .recommended__grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(120px, 1fr);
  grid-auto-columns: minmax(120px, 1fr);
  grid-gap: 25px;
  overflow: scroll;
}

.recommended-recipe {
  border-radius: var(--borderRadius);
  height: 20vh;
  background-image: url("https://i.pinimg.com/564x/14/58/0b/14580b725411f0666e945653059f055e.jpg");
  background-size: 100%;
  background-position: center center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.recommended-recipe .recommended-recipe__info {
  background-color: rgb(255, 255, 255, 0.7);
  padding: 5px 10px;
  width: 100%;
  /* position: relative; */
  /* top: 30px; */
}

.recommended-recipe .recommended-recipe__title {
  font-size: 10px;
  font-weight: 700;
}
.recommended-recipe .recommended-recipe__subtitle {
  font-size: 8px;
  color: var(--greyColor);
}
